<body>
    <section id="MyProjects">
        <article>
            <section class="Projects">
                <h2>My projects</h2>
                <p>In this section you can see the projects in which I have worked.</p>
            </section>
            <section class="ContainerP">
               <section class="Project1">
                   <figure id="figGen">
                    <img src="./../../assets/demoVersion1.jpg" alt="Projecto gorras ">
                        <div class="Capa1" id="CapaGen">
                            <h2>Pagina de compras</h2><p>con un responsive design</p>
                            <button class="Repo" id="Button1">
                                <a target="_blank" href="https://github.com/Tencks/GorrasWeb-Front-end">Repositorio</a>
                            </button>
                            <button class="UrlProjecto" id="button2">
                                <a target="_blank" href="https://tencks.github.io/GorrasWeb-Front-end/">Demo Mode</a>
                            </button>
                        </div>
                   </figure>
                   
               </section>
               <section class="Project2">
                    <figure>
                        <img src="./../../assets/demoVersion2.jpg" alt="Projecto de lolis">
                            <div class="Capa2">
                                <h2>Blog de Lolis</h2><p>con una seccion prohibida</p>
                                <button class="Repo">
                                    <a target="_blank" href="#">Repositorio</a>
                                </button>
                                <button class="UrlProjecto">
                                    <a target="_blank" href="#">Demo Mode</a>
                                </button>
                            </div>
                    </figure>
               </section>
               <section class="Project3"></section>
               <section class="Project4"></section>
            </section>
        </article>
    </section>
</body>