<body>
    <section id="ContactMe">
        <section class="Footer">
                <h2>Contact Me</h2>
                <a class="icon1" target="_blank" href="https://www.linkedin.com/in/robertino-spini-80161a20a"><i class="fa-brands fa-linkedin"></i></a>
                <a class="icon2" target="_blank" href="https://github.com/Tencks"><i class="fa-brands fa-github-square"></i></a>
                <a class="icon3" target="_blank" href="https://instagram.com/tencksss?igshid=YmMyMTA2M2Y="><i class="fa-brands fa-instagram"></i></a> 
                <p>Diseñado por Tencks | Magic's Complex</p>
                
        </section>
    </section>
</body>