<html>
<head>
    <script src="https://kit.fontawesome.com/f78d6fba01.js" crossorigin="anonymous"></script>
 
</head>
<body>
    <section id="Home">
        <article>
            <aside class="ContainerMe">
                <img class="LogoMi" src="./../../assets/perfil1.jpg" alt="mi foto de perfil">
        <h1 class="text1">Hi I'm Robertino Spini</h1><h2 class="text3">Frontend Developer</h2>
            </aside>
        </article>
    </section>
 <img class="background1" src="./../../assets/background1.jpg" alt="codigo">

</body>
</html>