<body>
    <section id="AboutMe">

        <article>
            <section class="MyInfo">
                <h2>About Me</h2>
                <p>I am a Frontend developer with experience building 
                    websites and android applications. 
                    I try specialize in Angular.</p>
                <p id="text2"> I'm always trying to improve
                    my skills to grow as a professional.</p>
                <button>
                    <i class="fa-solid fa-file-arrow-down"></i><a target="_blank" href="./../../assets/Currículum Robertino Spini img.jpg">Donwload CV</a>
                </button>
            </section>


                <section class="MySkills">         
                    <h2 class="Skill0">My Skills</h2>
                    <li class="Skill1"><span><i class="fa-brands fa-angular"></i>Angular</span><span><i class="fa-brands fa-android"></i>Android Studio</span></li>
                    <li class="Skill2"><span><i class="fa-brands fa-python"></i>Python</span><span><i class="fa-brands fa-figma"></i>Figma</span></li>
                    <li class="Skill3"><span><i class="fa-brands fa-html5"></i>Html </span><span><i class="fa-brands fa-css3-alt"></i>Css</span></li>
                    <li class="Skill4"><span><i class="fa-brands fa-github-square"></i>Github</span><span><i class="fa-brands fa-git-square"></i>Git</span></li>
                  
                    <h2 class="Hobbie0">Hobbies</h2>
                        <li class="Hobbie1">I do skateboarding, I'm a Skater.</li>
                        <li class="Hobbie2">I play the Alto Saxophone.</li>
                        <li class="Hobbie3">Sometimes I tried to do digital draw.</li>
                        <li class="Hobbie4">I enjoy nature and camping.</li>
               </section>
            
        </article>

    </section>
</body>
