*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family:'Edu NSW ACT Foundation', cursive;

}
html{
    background: rgb(250, 255, 249);
    scroll-behavior:smooth;
}
section[id]{
    scroll-margin-top: 55px;
}

